<section class="h-screen pt-4 flex flex-col items-center justify-center gap-7 bg-gray-950 text-white">

  <h1 class="text-3xl font-bold tracking-wide">
    CSV2JSON-App
  </h1>

  <form class="w-full px-4 md:px-8 flex flex-col gap-4 md:flex-row">

    <div class="w-full">
      <label for="OrderNotes" class="block text-sm font-medium text-gray-700 dark:text-gray-200">
        Your CSV Here:
      </label>

      <textarea id="csvInput" name="csvInput" [(ngModel)]="csvInput"
        class="mt-2 w-full rounded-lg border-gray-200 align-top shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-white sm:text-sm px-3 py-2 h-60"
        rows="4" placeholder='Id,UserName
1,Sam Smith
2,Fred Frankly
1,Zachary Zupers'></textarea>
    </div>

    <div class="w-full">
      <label for="OrderNotes" class="block text-sm font-medium text-gray-700 dark:text-gray-200">
        Your JSON
      </label>

      <textarea id="jsonInput" name="jsonInput" [(ngModel)]="jsonInput"
        class="mt-2 w-full rounded-lg border-gray-200 align-top shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-white sm:text-sm px-3 py-2 h-60"
        rows="4" placeholder='[{"Id":"1","UserName":"Sam Smith"},
{"Id":"2","UserName":"Fred Frankly"},
{"Id":"1","UserName":"Zachary Zupers"}]'></textarea>
    </div>

  </form>


  <div class="flex gap-6">
    <button (click)="handleReadCSVInput()"
      class="inline-block rounded bg-indigo-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500">
      Convert to JSON
    </button>

    <button
      class="inline-block rounded border border-current px-8 py-3 text-sm font-medium text-indigo-600 transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:text-indigo-500">
      Download JSON
    </button>
  </div>

</section>
